@import url('https://fonts.cdnfonts.com/css/arcade-classic');

.VGR-header{
    font-family: 'ArcadeClassic', sans-serif;
    flex-grow: 1;
}

.VGR-header span:hover {
  cursor: pointer;
  color: red;
}
