@import url('https://fonts.cdnfonts.com/css/arcade-classic');
                
.game-card:hover{
 transform: translateY(-10px);
}

.game-card{
     transition: 0.3s ease;
     filter: brightness(0.8);
}

.page{
     background-color: black;
}

body{
     margin: 0;
}

.game-titles{
     font-family: 'ArcadeClassic', sans-serif;
     color: white;
     font-size: 2rem;
     font-weight: bolder;
     margin: 0;
     letter-spacing: 0.5px;
     text-align: center;
     margin-top: 1rem;
}

.game-button {
     font-family: 'ArcadeClassic', sans-serif;
     margin: 27rem auto 0 auto;
     display: block;
     font-size: 1.5rem;
     border-radius: 15px;
     border-color: white;
     color: black;
     background-color: white;
     transition: 0.2s ease;
}

.game-button:hover {
     color: white;
     background-color: black;
}