.page-body-reg{
  background-image: url('../img/space_background.jpeg');
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'ArcadeClassic', sans-serif;
  text-align: center;
}
